.about-section {
  background-color: aqua;
  padding: 3.6% 7.29%;
}

.about-section h2 {
  font: normal normal 600 26px Poppins;
  margin-bottom: 25px;
  letter-spacing: 1.3px;
  color: #283887;
  text-shadow: 0px 5px 35px #00000029;
}

.about-section-content-container {
  background-color: blueviolet;
  display: flex;
  gap: 4.9%;
}

.about-section-content-graphics {
  background-color: beige;
  padding-bottom: 1.45%;
  max-width: 748px;
  width: 46.1%;
}

.about-section-content-graphics h3 {
  font: normal normal bold 26px/35px Poppins;
  letter-spacing: 1.3px;
  color: #202B3B;
  margin-bottom: 24px;
}

.about-section-content-graphics p {
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0.77px;
  color: #4E4E50;
  margin-bottom: 35px;
}

.about-image-container {
  position: relative;
  background-color: brown;
}

.about-image-container img {
  width: 100%;
  height: auto;
}

.about-image-text-container {
  background-color: green;
  position: absolute;
  bottom: -23px;
  width: 100%;
  padding-left: 29.6%;
  padding-right: 22.05%;
}

.about-image-text-container h4 {
  background-color: burlywood;
  font: normal normal bold 16px/15px Helvetica Neue;
  letter-spacing: 0.77px;
  color: #202B3B;
  padding-left: 27px;
  padding-top: 19.5px;
  padding-bottom: 19.5px;
}

.about-section-content-texts {
  background-color: violet;
  width: 53.9%;
}

.tabs {
  display: flex;
  gap: 16px;
  width: 100%;
  border-bottom: 1px solid #E6EFFF;
  margin-bottom: 18.5px;
  flex-wrap: wrap;
}

.tabs button {
  text-align: center;
  font: normal normal 600 16px Poppins;
  letter-spacing: 0.77px;
  color: #4E4E50;
  border: none;
  cursor: pointer;
  width: 122px;
  padding-bottom: 15px;
  padding-top: 0px;
}

.tab-texts {
  background-color: yellowgreen;
  max-width: 723px;
  padding-left: 4.95%;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0.77px;
  color: #4E4E50;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

@media (max-width: 992px) {
  .about-section-content-container {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .about-section-content-graphics {
    width: 80%;
  }

  .about-section-content-texts {
    width: 80%;
  }

  .tabs {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .about-image-text-container h4 {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .about-image-text-container h4 {
    padding: 0px;
    text-align: center;
  }

  .about-image-text-container {
    padding: 15px;
  }
}
