.contact {
  background: grey;
  padding: 70px 140px;
}

.contact-container {
  background: wheat;
  display: flex;
}

.company-location {
  background: aqua;
  flex-grow: 1;
  max-width: 820px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-right: 54px;
  padding-left: 48px;
}

.company-location address {
  margin-left: 12px;
  margin-bottom: 32px;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0.77px;
  color: #475A76;
  background: palevioletred;
}

.company-location address span {
  font: normal normal 600 16px/25px Poppins;
  letter-spacing: 0.77px;
  color: #1C53BC;
}

.google-map {
  background: orchid;
  width: 100%;
  padding-bottom: 68.94%;
  position: relative;
}

.google-map iframe {
  border: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.contact-form {
  background: purple;
  padding: 56px 50px 56px 49px;
  width: 50%;
}

.contact-form h2 {
  margin-bottom: 16px;
  background: green;
  font: normal normal bold 33px/46px Poppins;
  letter-spacing: 1.58px;
  color: #202B3B;
}

.contact-form p {
  margin-bottom: 19px;
  margin-left: 14px;
  background: bisque;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0.77px;
  color: #475A76;
}

.form-info-container {
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 14px;
}

.form-info {
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-info label {
  background-color: firebrick;
  font: normal normal normal 18px/24px Poppins;
  color: #202B3B;
}

.form-info input {
  height: 45px;
  border: 1px solid #DAE8FC;
}