.document {
  padding: 70.5px;
  padding-left: 140px;
}

.document h2 {
  background-color: tomato;
  font: normal normal 600 26px Poppins;
  letter-spacing: 1.3px;
  color: #283887;
  text-shadow: 0px 5px 35px #00000029;
}

.document > p {
  background-color: aqua;
  font: normal normal normal 16px/35px Poppins;
  letter-spacing: 0.77px;
  color: #4E4E50;
}

.document-cards {
  background-color: blueviolet;
  padding: 32px 50px 0px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 42.5px;
}