.document-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.document-card-image-container {
}

.document-card-image-container img {
  max-width: 100%;
  height: auto;
}

.document-card-text-container {
  padding: 15px 29px 29px 29px;
}

.document-card-text-container h3 {
  margin-bottom: 11px;
  font: normal normal medium 16px/25px Poppins;
  letter-spacing: 0.77px;
  color: #4E4E50;
}

.document-card-text-container h4 {
  height: 118px;
  max-width: 295px;
  margin-bottom: 11px;
  font: normal normal 600 18px/25px Poppins;
  letter-spacing: 0.86px;
  color: #202B3B;
}

.document-card-text-container p {
  font: normal normal normal 16px/20px Poppins;
  letter-spacing: 0.77px;
  color: #4E4E50;
}

@media (max-width: 600px) {
  .document-card-text-container h4 {
    height: 69px;
  }
}

@media (max-width: 466px) {
  .document-card-text-container h4 {
    font-size: 12px;
  }
}