.header-container {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.header {
    /* Layout Properties */
    display: flex;
    height: 48px;
    padding: 0px 140px;
    justify-content: space-between;

    /* UI Properties */
    background: #283887 0% 0% no-repeat padding-box;
}

.header-right-content {
    display: flex;
}

.header-nav {
    display: flex;
    padding: 14px 0px;
    margin-right: 56px;
}

.header-nav a {
    text-decoration: none;
    color: white;
    font: normal normal normal 14px/21px Poppins;
}

.header-language-toggle {
    display: flex;
    gap: 4.5px;
}

.header-language-toggle button {
    background: none;
	color: white;
	border: none;
	padding: 0;
	font: normal normal bold 16px/25px Poppins;
	cursor: pointer;
	outline: inherit;
}

.language-toggle-line {
    margin: 16.5px 0px;
    border: 1px solid #EBB437;
}

.header-left-content {
    background-color: red;
}

.header-social-media {
    background-color: grey;
}