.sitemap {
  background: orange;
  display: flex;
  /* padding-left: 140px; */
  padding-top: 65.6px;
}

.company-address-container {
    background: green;
    flex-shrink: 0;
    display: flex;
    width: 286px;
    padding-right: 91px;
}

.company-address {
    background: blueviolet;
    height: 308px;
    width: 195px;
    text-align: center;
}

.company-address > img {
  height: 66.75px;
  width: 66.75px;
  background: white;
  margin-bottom: 8px;
}

.company-address p {
  font: normal normal normal 11px Poppins;
  color: #FFFFFF;
  background: aqua;
  margin-bottom: 15px;
}

.company-address address {
  background: red;
  font: normal normal normal 16px/30px Poppins;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.social-media-footer-container {
  display: flex;
  background: darkcyan;
  height: 23.7px;
  justify-content: space-between;
}

.social-media-footer-container div {
  background: white;
}

.sitemap-nav-container {
    background: grey;
    flex-wrap: wrap;
    display: flex;
    padding-left: 55.8px;
    border-left: 1px solid #FFFFFF;
    gap: 36px;
}

.sitemap-nav {
    background: blue;
    width: 298px;
}

.sitemap-nav p {
  font: normal normal 600 18px/30px Poppins;
  color: #FFFFFF;
  margin-bottom: 8.4px;
  background: black;
}

.sitemap-nav ul {
  list-style: none;
}

.sitemap-nav li {
  font: normal normal normal 16px/24px Poppins;
  color: #FFFFFF;
  background: red;
  margin-bottom: 6px;
}

@media (max-width: 850px) {
  .sitemap {
      flex-direction: column;
      padding-left: 0px;
  }
  .sitemap-nav-container {
      flex-direction: column;
      align-items: center;
      padding-left: 0px;
      padding-top: 20px;
      border-top: 1px solid #FFFFFF;
      border-left: none;
  }
  .company-address-container {
      width: auto;
      justify-content: center;
      padding: 0px;
  }
  .company-address {
      width: 200px;
  }
}