.sitemap {
  display: flex;
  padding-left: 140px;
  padding-top: 65.6px;
  padding-bottom: 216.7px;
}

.company-address-container {
    flex-shrink: 0;
    display: flex;
    width: 286px;
    padding-right: 91px;
}

.company-address {
    height: 308px;
    width: 195px;
    text-align: center;
}

.company-address > img {
  height: 66.75px;
  width: 66.75px;
  margin-bottom: 8px;
}

.company-address p {
  font: normal normal normal 11px Poppins;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.company-address address {
  font: normal normal normal 16px/30px Poppins;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.social-media-footer-container {
  display: flex;
  height: 23.7px;
  justify-content: space-between;
}

.social-media-footer-container a {
  background: white;
  text-decoration: none;
}

.sitemap-nav-container {
    flex-wrap: wrap;
    display: flex;
    padding-left: 55.8px;
    border-left: 1px solid rgb(170, 169, 169);
    gap: 36px;
}

.sitemap-nav {
    width: 298px;
}

.sitemap-nav p {
  font: normal normal 600 18px/30px Poppins;
  color: #FFFFFF;
  margin-bottom: 8.4px;
}

.sitemap-nav ul {
  list-style: none;
}

.sitemap-nav li {
  margin-bottom: 6px;
}

.sitemap-nav a {
  font: normal normal normal 16px/24px Poppins;
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 850px) {
  .sitemap {
      flex-direction: column;
      padding-left: 0px;
  }
  .sitemap-nav-container {
      flex-direction: column;
      align-items: center;
      padding-left: 0px;
      padding-top: 20px;
      border-left: none;
  }
  .company-address-container {
      width: auto;
      justify-content: center;
      padding: 0px;
  }
  .company-address {
      width: 200px;
  }
  .sitemap-nav {
    text-align: center;
  }
}